table th{
    text-align:left;
    background-color: rgb(241, 148, 226);
    color: rgb(0, 0, 0);
    padding: 4px 30px 4px 8px;
}

table td{
    border: 1px solid;
    padding: 3px 6px;
}

table tr:nth-child(odd) td{
   background-color: rgb(233, 177, 245);
}